.git
.gitignore
__pycache__
**/__pycache__
**/*.pyc
.venv
venv
.env
*.env
node_modules
*.log
*.sqlite3
*.db
*.ipynb_checkpoints
tradingagents/dataflows/data_cache/
webui/__pycache__
cli/__pycache__
assets/

